<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RutaPartidas" value="" />
        <add key="RutaVanilla" value="" />
        <add key="RutaSeamless" value="" />
        <add key="Perfiles" value="Predeterminado" />
        <add key="PerfilActual" value="Predeterminado" />
    </appSettings>
</configuration>
